#header-text-nav-container {display: none;}

.entry-title {display: none;}

.entry-content > strong {display: none;}

#secondary {display: none;}

.iframe-container > iframe {margin-left: -10px;}

.article-content.clearfix {margin-top: -10px;}

.iframe-container {margin-top: -57px}
#content .post .article-content {padding: 0px !important;}