body{font-family: roboto, sans-serif;margin: 0px; padding: 0px;scroll-behavior: smooth;}

html {line-height: 0px;scroll-behavior: smooth;;}

.nav {background-color: white;}



.tabs .indicator {
    background-color: black;
}

.tabs .tab a.active {
    background-color: transparent;
    color: black;
    font-weight: bold;;
}

button:focus {background-color: transparent !important;}

.tabs .tab a:hover{background-color: white !important;;}

.tabs .tab a {
    color: #000;
}

.ad-container {margin: auto; width: 320px;padding-top: 10px;}

.logo-container > div {margin: auto; width: 338px;;}

.logo-container {position: fixed; left:0px; top: 0px;z-index: 502;width: 100%;background-color: white;}

.tabs {margin-top: 0px;border-bottom: solid 1px lightgray;}

.tabs li a button {}

body.darkclass .tabs .indicator {
    background-color: white;
}

.carousel .carousel-item{
    width:100%;
    visibility: visible !important;
  height: 100vh;
  }

  nav {box-shadow: none;background-color: white;}

  .spacer {width: 100%; height: 50px;;}

  #items1 {margin-top: 10px;height: 1000px;}

  /*-------------------------------------Play Back Container------------------------------------------*/

#playback {width: 106%; border: none;height: 220px;left: 0px; z-index: 501; z-index: 501;;margin-top: 5px;transition: 0.15s ease;}

  #playback.scrolled {width: 50px;position: fixed; bottom: -20px;height: 130px;width:177.57px;left:5%;margin-top: 0px;;padding-bottom: 10px; background-color: white;padding-top: 10px;top: 50px;}

  .playback-container {width: 100%;}


  .videojs-player {width: 100%; height: 100vh;border: none;;}

  .open-video-container {}

  .open-video-container > div {width: 100%;}

  .open-video-container > video {width: 100%;height: 220px;;}

  video {width: 100% !important;}

  .video-js .vjs-control-bar {background-color: transparent !important;}

  .video-js .vjs-tech {height:auto !important;}

  .playback-loader {position: fixed; top: 0px; z-index: 500;;width: 100%;}

  .stream-list > button {background-color: white; border: solid 1px lightgray; padding: 5px;padding-left: 7px; padding-right: 7px;margin-left: 6px; border-radius: 20px;margin-top: 10px;float: left;;}

  .stream-list {margin-top: -40px;margin-left: 125px ;position: absolute; z-index: 625;top: 360px; left: 0px;;display: none;}

  .tv-guide {width:100%;height:545px;filter: invert() brightness(2) ;float: left;margin-top: -80px;border: none;position: relative;z-index: -5;display: none;}

  .tv-guide-container {filter: saturate(0)}

  .tv-view {background-color: white;z-index: 150;position: relative;}

  .preview_wrap {
    width: 100%;
    height: 245px;
    padding: 0;
    overflow: hidden;
}

.tab-pane {margin-top: -50px;}

.frame_wrap {
    width: 1280px;
    height: 335px;
    border: 0;
    -ms-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
margin-top: -200px;
margin-left: -215px;

}
  /*-------------------------------------Tabs--------------------------------------------------*/


  /*---------------------------------------Channels-------------------------------------------*/
  .channel-logo {float: left;width: 51px;height: 59.88px;position:static;margin-left: 10px;background-color: white;}

  .item-wrapper {margin: auto;width: 150px;}

.text-container {float: left;margin-top: -5px;margin-left: 15px;background-color: transparent;z-index: 150;width: 100%;}

.text-container > h5 {font-weight: bold;font-size: 19px;text-align: left;}

.text-container > p {margin-top: -8px;margin-left: 2px;;text-align: left;font-size: 12px;;}

.channel-button {border: none; background-color: transparent;padding-top: 2px; padding-bottom: 2px;border-radius: 6px;width: 100%;margin-top: -180px;}

.tabs .tab a:focus, .tabs .tab a:focus.active {background-color: transparent !important;color: black !important;}

.tabs .tab a:hover {color: black !important;}

.channel {float: left;}

.preview-item{display: none;}

.plus{padding:15px 15px 15px 15px; border: solid 1px lightgray;width: 100px; height: 100px;border-radius: 10px;;margin-top:10px;;position:relative;z-index: 5;}

.playing-indicator {position: absolute; right: 20px;;border: solid 1px lightgray;padding: 5px 10px 5px 10px;border-radius: 50px;margin-top: 33px;;display: none;;}

.plus-text {margin-top: 20px;;}

.plus-text {padding-left: 5px; margin-left: 6px;}
.col {margin-top: 5px;;margin: auto; width: 95%;}


.sticky-container {position: sticky ;top: 50px;left: 0px; z-index: 499;background-color: white;}



#up.scrolled {padding-top: 0px !important;}

#notice {position: fixed; bottom: 180px; right: 19px; z-index: 602;background-color: white;font-weight: normal; color: black;font-size: 13px;font-weight: bold;display: none;;}

#notice.open {display: block;}

.loader {position: fixed; left: 0px; bottom: -15px; width: 100%;;;}
#playbackindicator {transition: 0.2s ease;;}
#playbackindicator.on {padding-left: 65px;}